/* Coolors Exported Palette - coolors.co/231942-5e548e-9f86c0-be95c4-e0b1cb */

/* HSL */
$color1: hsla(255%, 45%, 18%, 1);
$color2: hsla(250%, 26%, 44%, 1);
$color3: hsla(266%, 32%, 64%, 1);
$color4: hsla(292%, 28%, 68%, 1);
$color5: hsla(327%, 43%, 79%, 1);

/* RGB */
$color1: rgba(35, 25, 66, 1);
$color2: rgba(94, 84, 142, 1);
$color3: rgba(159, 134, 192, 1);
$color4: rgba(190, 149, 196, 1);
$color5: rgba(224, 177, 203, 1);