/* Coolors Exported Palette - coolors.co/363020-605c4e-a49966-c7c7a6-eaffda */

/* HSL */
$color1: hsla(44%, 26%, 17%, 1);
$color2: hsla(47%, 10%, 34%, 1);
$color3: hsla(49%, 25%, 52%, 1);
$color4: hsla(60%, 23%, 72%, 1);
$color5: hsla(94%, 100%, 93%, 1);

/* RGB */
$color1: rgba(54, 48, 32, 1);
$color2: rgba(96, 92, 78, 1);
$color3: rgba(164, 153, 102, 1);
$color4: rgba(199, 199, 166, 1);
$color5: rgba(234, 255, 218, 1);