
.wrapper {
  display: grid;
  grid-gap: 10px;
transition: all 1.5s ease-in-out;
}

@include breakpoint($exSmall) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "hdr_l" "hdr_r" "nav" "hero_fw" "abv_cont" "main" "bc" "bc_1" "bc_2" "bc_3" "ftr" "ftr_l" "ftr_r" "flt_btm";
  }
}

@include breakpoint($small) {
  .grid {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "sba hdr_l hdr_r" "sba main sbb" "sba ft sbb";
  }
}
@include breakpoint($medium) {
  .grid {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "hd hd sbb" "sba main sbb" "sba ft ft";
  }
}
@include breakpoint($large) {
  .grid {
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-areas: "hd hd hd" "sba main sbb" "ft ft sbb";
  }
}
@include breakpoint($larger) {
  .grid {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "sba hd sbb" "sba main sbb" "sba ft sbb";
  }
}
@include breakpoint($exLarge) {
  .grid {
    grid-template-columns: 3fr 4fr 1fr;
    grid-template-areas: "hd hd sba" "main sbb sba" "ft sbb sba";
  }
}
@include breakpoint($massive) {
  .grid {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "hd hd hd" "main main sbb " "ft ft sba ";
  }
}
@include breakpoint($vast) {
  .grid {
    grid-template-columns: 1fr 4fr 2fr; 
    grid-template-areas: "hd main sbb" "sba main sbb " "sba ft sbb  ";
  }
}

