/* Coolors Exported Palette - coolors.co/7afdd6-77ff94-a1e44d-60993e-613a3a */

/* HSL */
$color1: hsla(162%, 97%, 74%, 1);
$color2: hsla(133%, 100%, 73%, 1);
$color3: hsla(87%, 74%, 60%, 1);
$color4: hsla(98%, 42%, 42%, 1);
$color5: hsla(0%, 25%, 30%, 1);

/* RGB */
$color1: rgba(122, 253, 214, 1);//HTML element - Background
$color2: rgba(119, 255, 148, 1);//HTML element - H1
$color3: rgba(161, 228, 77, 1);//HTML element - H2
$color4: rgba(96, 153, 62, 1);//HTML element - H3
$color5: rgba(97, 58, 58, 1);//HTML element - body