/* Coolors Exported Palette - coolors.co/363537-ef2d56-ed7d3a-8cd867-2fbf71 */

/* HSL */
$color1: hsla(270%, 2%, 21%, 1);
$color2: hsla(347%, 86%, 56%, 1);
$color3: hsla(22%, 83%, 58%, 1);
$color4: hsla(100%, 59%, 63%, 1);
$color5: hsla(148%, 61%, 47%, 1);

/* RGB */
$color1: rgba(54, 53, 55, 1);
$color2: rgba(239, 45, 86, 1);
$color3: rgba(237, 125, 58, 1);
$color4: rgba(140, 216, 103, 1);
$color5: rgba(47, 191, 113, 1);