/* Coolors Exported Palette - coolors.co/931621-28464b-326771-2c8c99-42d9c8 */

/* HSL */
$color1: hsla(355%, 74%, 33%, 1);
$color2: hsla(189%, 30%, 23%, 1);
$color3: hsla(190%, 39%, 32%, 1);
$color4: hsla(187%, 55%, 39%, 1);
$color5: hsla(173%, 67%, 55%, 1);

/* RGB */
$color1: rgba(147, 22, 33, 1);
$color2: rgba(40, 70, 75, 1);
$color3: rgba(50, 103, 113, 1);
$color4: rgba(44, 140, 153, 1);
$color5: rgba(66, 217, 200, 1);