/* Coolors Exported Palette - coolors.co/e5c2c0-8fd5a6-329f5b-0c8346-0d5d56 */

/* HSL */
$color1: hsla(3%, 42%, 83%, 1);
$color2: hsla(140%, 45%, 70%, 1);
$color3: hsla(143%, 52%, 41%, 1);
$color4: hsla(149%, 83%, 28%, 1);
$color5: hsla(175%, 75%, 21%, 1);

/* RGB */
$color1: rgba(229, 194, 192, 1);
$color2: rgba(143, 213, 166, 1);
$color3: rgba(50, 159, 91, 1);
$color4: rgba(12, 131, 70, 1);
$color5: rgba(13, 93, 86, 1);