/* Coolors Exported Palette - coolors.co/cfffb3-ade25d-fcec52-3b7080-3a5743 */

/* HSL */
$color1: hsla(98%, 100%, 85%, 1);
$color2: hsla(84%, 70%, 63%, 1);
$color3: hsla(54%, 97%, 65%, 1);
$color4: hsla(194%, 37%, 37%, 1);
$color5: hsla(139%, 20%, 28%, 1);

/* RGB */
$color1: rgba(207, 255, 179, 1);
$color2: rgba(173, 226, 93, 1);
$color3: rgba(252, 236, 82, 1);
$color4: rgba(59, 112, 128, 1);
$color5: rgba(58, 87, 67, 1);