// breakpoint settings - requires scss breakpoint
// colours mentioned are diplayed as body backgrounds
// when "Partials/_cssGridIndicator.scss" is enabled
$exSmall: 0 480px; //RED iPhone Portrait
$small: 481px 767px; //ORANGE iPhone Landscape
$medium: 768px 979px; //YELLOW
$large: 980px 1024px; //GREEN
$larger: 1025px 1200px; //CYAN iPad Landscape
$exLarge: 1201px 1400px; //BLUE
$massive: 1401px 1600px; //MAGENTA
$vast:1601px 5000px; //WHITE
