// breakpoint settings - requires scss breakpoint
// colours mentioned are diplayed as body backgrounds
// when "Partials/_cssGridIndicator.scss" is enabled
$exSmall: 0 320px; //RED
$small: 320px 480px; //ORANGE
$medium: 480px 720px; //YELLOW
$large: 720px 960px; //GREEN
$larger: 960px 1024px; //CYAN
$exLarge: 1024px 1200px; //BLUE
$massive: 1200px 1400px; //MAGENTA
$vast:1400px 5000px; //WHITE
